@charset "UTF-8";
.title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 36px;
  letter-spacing: 5px;
  line-height: 1.5em;
  transition: color 0.5s ease;
}

.subtitle {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 1.2em;
  transition: color 0.5s ease;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: white;
  font-size: 14px;
  letter-spacing: 1.3px;
  line-height: 2em;
  transition: color 0.5s ease;
}

.button {
  width: 100%;
  background: linear-gradient(to left, #fafaf9, gray, #08a8f8);
  border-radius: 3px;
  text-align: center;
  font-size: 20px;
  background-size: 200% 200%;
  animation: changeColor 4s alternate infinite;
}
.button:hover {
  box-shadow: 0px 0px 30px 20px rgba(255, 255, 255, 0.404);
  cursor: pointer;
  animation: unset;
}
.button a {
  color: black;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 20px 0px;
}
.button a:hover {
  text-decoration: none;
  color: black;
}

#main, #portfolio, #services, #contacts {
  transition: background-color 0.5s ease;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  background-color: #9c9c9c;
  padding: 10px 0px;
  position: fixed;
  max-height: 70px;
  left: 0px;
  right: 0px;
  z-index: 1000;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
}
.header__img {
  width: 100px;
  max-height: 30px;
}
.header__img:hover {
  cursor: pointer;
  text-shadow: 10px 10px 10px white;
  animation: 1s linear 0s normal none infinite running rot;
}
.header__label {
  color: white;
  position: relative;
  cursor: pointer;
}
.header__label::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.856);
  position: absolute;
  width: 55px;
  height: 100%;
  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.678);
  right: 107%;
  border-radius: 40%;
}
.header__label::after {
  content: "";
  background-color: #5c5c5c;
  position: absolute;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.699);
  right: 111%;
  height: 20px;
  width: 20px;
  top: 4px;
  border-radius: 50%;
  transition: all 0.4s ease;
}

#h1 {
  display: none;
}

#h1:checked ~ .header__label::after {
  right: 135%;
  background-color: #a19f9f;
}

#menu__active {
  display: none;
}
#menu__active:checked ~ .menu__list {
  top: 100%;
  opacity: 1;
}
#menu__active:checked ~ .menu__activator::after {
  transform: rotate(45deg);
  top: 50%;
}
#menu__active:checked ~ .menu__activator::before {
  transform: rotate(-45deg);
  top: 50%;
}

.menu {
  display: flex;
  align-items: center;
}
.menu__activator {
  width: 20px;
  height: 20px;
}
.menu__activator:hover {
  cursor: pointer;
}
.menu__activator::before {
  content: "";
  background-color: #fff;
  width: 20px;
  height: 2px;
  position: absolute;
  right: 15px;
  top: 40%;
  transition: all 0.3s ease;
  display: none;
}
@media (max-width: 768px) {
  .menu__activator::before {
    display: block;
  }
}
.menu__activator::after {
  content: "";
  background-color: #fff;
  width: 20px;
  height: 2px;
  position: absolute;
  right: 15px;
  top: 60%;
  transition: all 0.3s ease;
  display: none;
}
@media (max-width: 768px) {
  .menu__activator::after {
    display: block;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
}
@media (max-width: 768px) {
  .menu__list {
    opacity: 0;
    top: -1000px;
    transition: all 0.3s ease;
    flex-direction: column;
    position: absolute;
    left: 0px;
    right: 0px;
    background-color: rgba(78, 77, 77, 0.89);
  }
}
.menu__item {
  margin-right: 5px;
}
.menu__item:nth-last-of-type(1) {
  margin-right: 0px;
}
@media (max-width: 768px) {
  .menu__item {
    width: 100%;
    text-align: center;
    margin: 0px;
  }
}
.menu__link {
  margin: 10px;
  display: inline-block;
  color: white;
  position: relative;
}
@media (max-width: 768px) {
  .menu__link {
    margin: 0px;
    padding: 10px;
    width: 100%;
  }
}
.menu__link::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 0px;
  height: 2px;
  bottom: -5px;
  left: 50%;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .menu__link::after {
    bottom: 0px;
    top: 0px;
    background-color: rgba(197, 196, 196, 0.26);
  }
}
.menu__link:hover:after {
  left: 0px;
  width: 100%;
}
@media (max-width: 768px) {
  .menu__link:hover:after {
    left: 0px;
    right: 0px;
    height: 100%;
    z-index: 1;
  }
}
.menu__link:hover {
  text-shadow: 0px 15px 10px white;
  color: white;
  text-decoration: none;
}

.about {
  background-color: black;
  padding: 80px 30px 50px 0px;
  position: relative;
}
@media (max-width: 1000px) {
  .about {
    padding: 70px 30px 30px 30px;
  }
}
@media (max-width: 768px) {
  .about {
    padding: 80px 20px 20px 20px;
  }
}
.about__inner {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "img text" "img buttons";
  grid-template-rows: auto;
}
@media (max-width: 1000px) {
  .about__inner {
    grid-template-columns: 100%;
    grid-template-areas: "img" "text";
  }
}
@media (max-width: 768px) {
  .about__inner {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "img" "text";
  }
}
.about__img {
  position: relative;
  z-index: 1;
  margin-right: 30px;
  margin-left: 30px;
  background-color: black;
}
@media (max-width: 1000px) {
  .about__img {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  .about__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: img;
  }
}
.about__img img {
  width: 100%;
  border-radius: 20%;
  border: 1px solid black;
}
@media (max-width: 1000px) {
  .about__text {
    position: absolute;
    left: 10px;
    right: 10px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .about__text {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: text;
    display: block;
    position: static;
  }
}
.about .title {
  color: #BBBEBF;
  text-align: left;
  margin-bottom: 30px;
}
@media (max-width: 1000px) {
  .about .title {
    color: #9c9a9a !important;
  }
}
@media (max-width: 768px) {
  .about .title {
    text-align: center;
  }
}
.about .text {
  color: #d0d2d3;
  margin-bottom: 30px;
}
@media (max-width: 1000px) {
  .about .text {
    color: white !important;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .about .text {
    display: none;
  }
}
.about__button {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: buttons;
}
@media (max-width: 1000px){
  .about__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
  .about__text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}
@media (max-width: 768px){
  .about__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
  .about__text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}
@media (max-width: 768px) {
  .about__button {
    margin-top: 30px;
  }
}

.portfolio {
  background-color: #c2c0c0;
  padding-top: 70px;
  padding-bottom: 30px;
}
.portfolio .subtitle {
  margin-bottom: 30px;
}
.portfolio__carousel {
  display: none;
}
@media (max-width: 768px) {
  .portfolio__carousel {
    display: block;
  }
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
@media (max-width: 768px) {
  .gallery {
    display: none;
  }
}
.gallery__item {
  padding: 5px;
  position: relative;
}
.gallery__item::after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  opacity: 0;
  background-color: rgba(202, 197, 197, 0.596);
  transition: all 0.4s ease;
  z-index: 1;
}
.gallery__item:hover:after {
  bottom: 0px;
  opacity: 1;
}
.gallery__item:hover .gallery__text {
  opacity: 1;
  visibility: visible;
}
.gallery__item:hover {
  cursor: pointer;
}
.gallery__item img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.gallery__text {
  position: absolute;
  left: 0px;
  top: 5px;
  bottom: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 2;
  overflow: auto;
  max-height: 100%;
  padding: 15px;
}
.gallery__text .text {
  font-weight: 300;
  color: black;
}

.services {
  padding: 50px 0px;
  background-color: #333333;
}
.services .title {
  color: white;
  margin-bottom: 30px;
}
.services__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 1.3px;
  line-height: 2em;
}
.services__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 1000px) {
  .services__gallery {
    grid-template-columns: 100%;
  }
}
.services__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 1.3px;
  line-height: 2em;
  margin-bottom: 20px;
}
.services__item {
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(to top, rgba(211, 209, 209, 0.836), #eeeded);
  background-size: 200% 200%;
  animation: changeColor 5s alternate infinite;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 0.3s ease;
}
.services__item:nth-of-type(3) {
  margin-left: 10px;
}
.services__item:nth-of-type(1) {
  margin-right: 10px;
}
.services__item:nth-of-type(2) {
  margin-right: 5px;
  margin-left: 5px;
}
.services__item .subtitle, .services__item .img, .services__item .text, .services__item .price {
  margin-bottom: 15px;
}
.services__item img {
  width: 100%;
}
.services__item .text {
  color: black;
}
.services__item:hover {
  cursor: pointer;
  transform: scale(1.005);
  background-color: #fff;
  animation: changeColor step-end;
  box-shadow: 0px 0px 20px 10px rgba(247, 244, 244, 0.685);
}
@media (max-width: 1000px) {
  .services__item {
    margin-bottom: 10px;
  }
  .services__item:nth-of-type(3) {
    margin-left: 0px;
  }
  .services__item:nth-of-type(1) {
    margin-right: 0px;
  }
  .services__item:nth-of-type(2) {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.timer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 30px;
}
.timer .item {
  font-size: 20px;
  position: relative;
  width: 25%;
  text-align: center;
}
.timer .item:nth-child(1)::after {
  content: "дней";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.timer .item:nth-child(2)::after {
  content: "часов";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.timer .item:nth-child(3)::after {
  content: "минут";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.timer .item:nth-child(4)::after {
  content: "секунд";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.contacts {
  background-color: black;
  background-size: contain;
  color: rgba(216, 214, 214, 0.89);
  padding: 50px 0px;
}
.contacts__inner {
  display: grid;
  grid-template-columns: 60% 40%;
}
@media (max-width: 768px) {
  .contacts__inner {
    grid-template-columns: 100%;
  }
}
.contacts__link {
  color: white;
  transition: all 0.3s ease;
}
.contacts__link:hover {
  color: white;
  text-shadow: 0px 5px 10px white;
}

#form__ok {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 10000px;
  background-color: rgba(164, 165, 164, 0.89);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: chartreuse;
  transition: all 0.5s ease;
}

.form__ok__img {
  font-size: 50px;
}

#form__ok__close {
  padding: 12px;
  width: 100px;
  border-radius: 10%;
  margin-top: 20px;
  font-family: "Montserrat";
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 20px;
  background-color: chartreuse;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  color: white;
}
#form__ok__close:hover {
  border-color: white;
}

.form__ok__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 36px;
  letter-spacing: 5px;
  line-height: 1.5em;
  transition: color 0.5s ease;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 20px;
}
.form .subtitle, .form .text {
  margin-bottom: 30px;
  text-align: left;
}
.form .contact-form__button {
  text-align: center;
  padding: 20px;
}
.form .contact-form__error {
  font-size: 0.875rem;
}
.form__name, .form__tel, .form__textarea {
  text-align: left;
  margin-bottom: 30px;
}
.form__name input, .form__name textarea, .form__tel input, .form__tel textarea, .form__textarea input, .form__textarea textarea {
  font-size: 19px;
  padding: 12px;
  color: gray;
  width: 100%;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  background-color: #eceaea;
}
.form__name input:focus, .form__name textarea:focus, .form__tel input:focus, .form__tel textarea:focus, .form__textarea input:focus, .form__textarea textarea:focus {
  border: 2px solid rgba(128, 128, 128, 0.719);
  background-color: #fff;
}

.links {
  padding-left: 20px;
}
.links .subtitle, .links .text {
  margin-bottom: 30px;
  text-align: left;
}
.links__gallery {
  display: flex;
}
.links__gallery i {
  font-size: 30px;
  color: gray;
  margin-right: 20px;
  transition: all 0.3s ease;
}
.links__gallery i:hover {
  color: white;
  text-shadow: 0px 10px 20px white;
  transform: scale(1.2);
}

.footer {
  position: relative;
  background-color: gray;
  height: 50px;
  overflow: hidden;
}
.footer i {
  font-size: 30px;
  right: -35px;
  position: absolute;
  color: #20d3f3;
  animation: move 4s infinite ease-in-out alternate;
}
.footer__inner {
  text-align: center;
  padding: 10px;
  position: relative;
  z-index: 0;
}
.footer__cover {
  position: absolute;
  top: 0px;
  padding: 10px;
  z-index: 1;
  background-color: gray;
  height: 100%;
  animation: move3 4s infinite ease-in-out alternate;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes changeColor {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes move {
  0% {
    color: hotpink;
    transform: rotate(-90deg);
  }
  25% {
    color: indigo;
    transform: rotate(90deg);
  }
  50% {
    color: khaki;
    transform: rotate(-200deg);
  }
  75% {
    color: yellowgreen;
    transform: rotate(180deg);
  }
  100% {
    color: white;
    transform: rotate(-270deg);
  }
}
@keyframes move2 {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes move3 {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 95%;
  }
}
.bgc {
  background-color: #d3d1d1;
  color: black;
}

.color {
  color: black;
}