@import './variables';
@import './general';
@import './nullstyle';
@import './header';
@import './section';
@import './footer';
@import './keyframes';
.bgc{
    background-color: rgb(211, 209, 209);
    color: black;
}
.color{
    color: black;
}